@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
	margin: 0;
	font-size: 18px;
	color: black;
	font-family: 'Roboto', sans-serif;
}

header {
	background-color: #101EE4;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	display: flex;
	align-items: center;
}

.logoimg {
	padding: 20px;
}

h1 {
	font-size: 48px;
	color: white;
}

ul {
	display: flex;
	list-style: none;
}

a {
	font-size: 24px;
	text-decoration: none;
	color: white;
	margin-right: 30px;
}

main {
	background-color: #2D3E57;
	padding-bottom: 100px;
}

.banner {
	background-image: url(img/main.png);
	padding: 200px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

h2 {
	font-size: 48px;
	color: white;
	text-align: center;
	padding: 0;
	padding-top: 70px;
	padding-bottom: 30px;
	margin: 0;
}

.popular {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-around;
	padding-top: 70px;
}

.popular_film {
	width: 30%;
	margin-left: 5%;
}

.film_img {
	width: 80%;
}

.avatar {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 70px;
}

.avatarimg {
	width: 80%;
}

footer {
	background-color: gray;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px;
}

.footerp {
	font-size: 16px;
}

.mainpopular {
	font-family: 'Roboto', sans-serif;
	font-size: 34px;
}

.maintext {
	font-family: 'Roboto', sans-serif;
	font-size: 54px;
}